
.edit{


    width: 100%;
    background: $color-white;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    border-top: 1px solid $color-grey-light;
    border-bottom: 1px solid $color-grey-light;

    padding: 2rem 2rem;
    

    @media (min-width: 768px){
        display: none;

    }

    &__header{
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    &-header{

        &__heading{
            width: 70%;
            font-size: 2.2rem;
            color: $color-grey-dark-2;
            
        }

        &__btns{
            width: 30%;
            justify-content: space-between;
            display: flex;
            
        }
        &__btn{
            background: transparent;
            cursor: pointer;
            border: none;
            text-transform: uppercase;
            color: $color-blue-dark;
            font-size: $font-md;

            &:focus{
                outline: none;
            }
        }
    }

    &__form{

        .form{

            &__row{
                display: flex;
                flex-direction: column;
                margin-bottom: 1.5rem;
            }

            &__label{
                text-transform: uppercase;
                font-size: 1.1rem;
                color: $color-grey-dark-2;
             

            }

            &__input{
                padding: 0.5rem 0;
                border: none;
                font-size: 1.6rem;
                color: $color-grey-dark-3;
                border-bottom: 1px solid $color-grey-light;
                padding-bottom: 0.7rem;

                z-index: 3 !important;
                background-color: transparent !important;

                &:focus{
                    outline: none;
                    border-bottom: 1px solid $color-blue-light;
                }
            }

            

        }
    }

}

