
.header{

    background-color: $color-background-2;
    border-radius: 2px;
    padding: 1rem;

    @media (min-width: 768px){
        background-color: $color-white;
    }

    &__btn{

        display: flex;
        flex-direction: column;

        &--logout{
            align-self: flex-end;
            margin-top: 2rem;
            margin-right: 2rem;
            
            .logout-btn{
                text-decoration:none;
                color: $color-blue-light;
                font-size: 1.2rem;
                font-weight: $font-bold;
                text-transform: uppercase;

                @media (min-width: 768px){
                    border: 1px solid $color-blue-light;
                    padding: 0.75rem 2rem;
                    border-radius: 3px;
                    font-size: 0.8rem;

                }
            }
        }

        &--upload{
            display: none;
            

            @media (min-width: 768px){
                display: block;
                margin: 0 auto;
                margin-top: 2rem;
                
                
            }

            .upload{
                
                @media (min-width: 768px){
                    display: flex;
                    align-items: center;
                    text-decoration:none;
                    font-size: 1rem;
                    font-weight: 500;

                    border: 1px solid $color-grey-light;
                    padding: .7rem 1.5rem;
                    border-radius: 3px;
                    color: $color-grey-dark-1;
                }

                .icon{
                    color: $color-grey-light;
                    margin-right: 1rem;
                    font-size: 1.5rem;
                    
                }
            }
        }
    }

    &__info{

        display: flex;
        flex-direction: column;
        margin-top: 3rem;

        @media (min-width:768px){
            flex-direction: row;
        }

        &--left{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (min-width: 768px){
                width: 20%;

            }

            @media (min-width: 1100px){
                max-width: 15%;
            }

            .img{
                width: 15rem;
                height: 15rem;
                
                margin-right: 1rem;

                -webkit-box-shadow: 1px 9px 13px 1px rgba(0,0,0,0.1);
                -moz-box-shadow: 1px 9px 13px 1px rgba(0,0,0,0.1);
                box-shadow: 1px 9px 13px 1px rgba(0,0,0,0.1);

                

                @media (min-width: 600px ) and (max-width: 767px){
                    width: 20rem;
                    height: 20rem;
                }

                @media (min-width: 768px){
                    
                    margin-left: 0.5rem;
                    width: 14rem;
                    height: 14rem;
                }

                @media (min-width: 1100px){
                    margin-left: 1rem;
                    width: 15rem;
                    height: 15rem;
                }
            }
        }

        &--middle{
            
            width: 100%;
            padding: 1rem;
            display: flex;
            flex-direction: column;

            @media (min-width: 768px){
                width: 50%;
            }
        
        }

        &-name{
            font-size: 2rem;
            text-align: center;
            margin-bottom: 0.8rem;
            letter-spacing: 0.5px;
            font-weight: 400;
            color: $color-grey-dark-3;
            margin-top: 0.5rem;

            @media (min-width:768px){
                font-size: 1.8rem;
                text-align: left;
            }
            @media (min-width: 600px ) and (max-width: 767px){
                font-size: 2.2rem;
            }
            
        }

        &-phone, &-location{
            font-size: 1.4rem;
            color: $color-grey-dark-3;
            padding: 0.5rem 0 ;
            display: inline-flex;
            align-items:center;
            
            @media (min-width: 768px){
                font-size: 1.2rem;
            }

        }
        &-phone{
            order: 1;

            @media (min-width: 768px){
                order: 3;
            }
        }
        &-location{
            order: 2;
        }

        &-phone .icon, &-location .icon {
            margin-right: 1rem;
            font-size: 2rem;
            

            @media (min-width: 768px){
                margin-right: 0.5rem;
                font-size: 1.4rem;
            }
            
        }


        &--right{
            width: 100%;
            padding: 1rem;
            padding-top: 0;

            display: flex;
            flex-direction: column;

            @media (min-width: 768px){
                margin-right: 1rem;
                padding: 0;
                flex-direction: row;
                justify-content: flex-end;
            }


            
        }

        &-stars{
            font-size: 2.2rem;
            color: $color-blue-light;
            display: flex;
            flex-direction: row;
            margin-bottom: 0.5rem;

            @media (min-width: 768px){
                font-size: 1.8rem;
                margin-top: 1.5rem;
                margin-right: 1.5rem;
                color: $color-grey-dark-3;
            }
            
        }

        &-review{
            font-size: $font-md;
            color: $color-grey-dark-2;
            padding: 0.5rem;
            display: flex;
            flex-direction: row;

            @media (min-width: 768px){
                margin-top: 1.1rem;
            }
            
            .number{
                margin-right: 1rem;
                color: $color-grey-dark-3;
                
            }

        }
    }

    &__followers{

        display: flex;
        align-items: center;
        color: $color-grey-dark-1;
        font-size: $font-md;
        margin-top: 2rem;

        & .icon{
            font-size: $icon-size-xl;
            margin-right: 0.5rem;

            &:hover{
                cursor: pointer;
            }
            
        }

        &--number{
            margin-right:0.5rem;
            color: $color-grey-dark-3;
            font-size: 1.6rem;
        }

        @media (min-width: 768px){
            display: none;
        }
    }
}
