
.nav{

    background: $color-white;
   

    display: flex;
    justify-content: space-around;
    -webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
    

    @media (min-width: 768px){
        justify-content: flex-start;
        
        padding-left: 16.5rem;

        margin-top: -4rem;
    }
    
    @media (min-width: 850px){
        padding-left: 18rem;
    }

    @media (min-width: 1100px){
        padding-left: 18rem;
    }


    &__btn{
        border:none;
        background: transparent;
        text-transform: uppercase;
        cursor: pointer;
        font-size: $font-md;
        font-weight: 500;
        padding: 1.5rem 0;
        margin-left: 0.2rem;
        margin-right: 0.2rem;

        @media (min-width: 768px){
            margin-left: 1rem;
            margin-right: 1rem;
        }

        &:nth-child(1){
            
            @media (min-width: 768px){
                margin-left: 0;
            }
        }
    
        &--active{
            border-bottom: 2px solid $color-blue-light;
        }

        &:focus{
            outline: none;
        }

    }

    &__followers{
        display: none;
        font-size: 1.3rem;
        color: $color-grey-dark-2;

        @media (min-width: 768px){
            display: flex;
            width: 100%;
            margin-right: 1rem;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding-right: 1rem;

        }

        &--icon{
            font-size: 2.5rem;
            margin-right:1rem;

            &:hover{
                cursor: pointer;
            }
        }

        &--number{
            color: $color-grey-dark-3;
            font-size: 1.3rem;
            margin-right: 1rem;
        }
    }
}

