

@import './base/resets';
@import './base/variables';
@import './base/materialDesign';

@import './components//header';
@import './components/navbar';
@import './components/edit';




body{
    width: 100%;
    margin: 0rem auto;
    background: $color-background;

    @media all and (min-width:768px){
        width: 90%;
        margin: 10rem auto;

    }
}


.main{

    width: 100%;
    background: $color-white;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    border-top: 1px solid $color-grey-light;
    border-bottom: 1px solid $color-grey-light;

    padding: 2rem 1.5rem;

    @media (min-width: 768px){
        margin-top: 2rem;
        height: 50rem;

        -webkit-box-shadow: 1px 9px 13px 1px rgba(0,0,0,0.1);
        -moz-box-shadow: 1px 9px 13px 1px rgba(0,0,0,0.1);
        box-shadow: 1px 9px 13px 1px rgba(0,0,0,0.1);
        border:none;
        border-radius: 3px;
        padding:2.5rem;

    }

    &__extra{
        height: 25rem;

        @media (min-width: 768px){
            height: 50rem;
        }
        
    }


    &-header{
        display: flex;

        margin-bottom: 1rem;
        
        @media (min-width: 768px){
            margin-bottom: 2rem;
        }

        &__heading{
            margin-right: auto;
            font-size: 2.2rem;
            font-weight: 400;
            color: $color-grey-dark-2;
            padding-left: 0.5rem;

        }

        &__icon{
            display:flex;
            justify-content: center;
            align-items: center;

            font-size: 2rem;
            color: $color-grey-dark-1;
            background: $color-background-2;
            padding: 0.3rem 0.5rem;
            margin-right: 1rem;

            cursor: pointer;

            &:hover{
                background:$color-blue-dark;
                color: $color-white;
            }


            @media (min-width: 768px){
                display: none;
            }

        }

        &__btns{
            display: flex;
            justify-content: space-around;
            width: 30%;

        }

        &__btn{
            border: none;
            
            text-transform: uppercase;
            color: $color-blue-light;
            cursor: pointer;
        }

        
    }

    &-body{

        font-size: 1.6rem;
        padding-bottom: 3rem;
        


        &__content{
            display: flex;
            min-width: 25%;
            margin-bottom: 0.1rem;
            position: relative;
            

        }

      
        &__text{
            color: $color-grey-dark-3;
            display: inline-flex;
            align-items: center;

            &--name{
                margin-bottom: 1rem;
                font-size: 1.8rem;
                font-weight: 500;
                
                @media (min-width: 768px){
                    font-size: 1.6rem;
                    margin-bottom: 0;
                }
                
            }
  
            padding: 0.6rem;

            @media (min-width: 768px){
                background-color: $color-background;
                padding-right: 2rem;
                
            }
            
        }

        &__text .icon{
            
            margin-right:1rem;
            font-size: 2rem;

            @media (min-width: 768px){
                margin-right: 0.5rem;
                
            }
        }

        .inner-icon{
            font-size: 2rem;
            display: none;
            align-self: center;
            padding: 0.7rem;
            background-color: $color-background-2;
            color: $color-grey-dark-1;
            cursor: pointer;

            &:hover{
                background-color: $color-blue-dark;
                color: $color-white;
            }

            @media (min-width:768px){
                display: flex;
            }
        }

        &__popup{

            width: 25rem;
            height: 12rem;
            position: absolute;
            top: -1rem;
            left: 18rem;
            padding: 1.5rem;
            border-radius: 3px;
            background-color: $color-white;
            z-index: 10;

            -webkit-box-shadow: 0px 2px 19px 5px rgba(0,0,0,0.15);
            -moz-box-shadow: 0px 2px 19px 5px rgba(0,0,0,0.15);
            box-shadow: 0px 2px 19px 5px rgba(0,0,0,0.15);

            &:before{
                content: ' ';
                background: $color-white;
                width: 1.5rem;
                height: 1.5rem;
                position: absolute;
                left: -0.5rem;
                transform:rotate(45deg);
            }

            .popup{
                
                &__form{
                    display: flex;
                    flex-direction: column;
                }

                &__label{
                    text-transform: uppercase;
                    color: $color-grey-dark-2;
                    font-size: 1.1rem;
                }

                &__input{
                    padding: 0.7rem;
                    padding-left: 0;
                    font-size: 1.5rem;
                    color: $color-grey-dark-3;
                    border: none;
                    border-bottom: 1px solid $color-grey-light;
                    

                    background: transparent;

                    &:focus{
                        outline: none;
                        border-bottom: 1px solid $color-blue-light;
                    }
                }
            }

            .form{

                &__btn-container{
                    margin-top: 1rem;
                    
                }

                &__btn{
                    width: 8rem;
                    padding: 0.7rem 1.5rem;
                    border: 1px solid $color-blue-dark;
                    border-radius: 3px;
                    font-weight: 500;
                    background-color: transparent;
                    cursor: pointer;

                    &:focus{
                        outline: none;
                    }

                    &--save{
                        margin-right: 1rem;
                        background-color: $color-blue-dark;
                        color: white;

                    }

                    &--cancel{
                        color: $color-blue-dark;
                    }
                }
            }
        }
    }
}



//UTILITIES
////display classes

.hide{
    display: none;
}

.error{
    
    .popup__label{
        color: red;
    }
    .popup__input{
        border-bottom: 1px solid red;
    }
}

.divError{
    text-align:center;
}

.textError{
    color: red;
    font-size: 2rem;
    font-weight: 500;
}




