

/////////////
// material design effect
//MOBILE FORM
.form__input{
    order: 10;
}

.form__label{
    order: 1;
}

.form__row .form__input + .form__label{
    transform: translateY(0.5rem);
    transition: all 0.2s ease-in-out;
}

.form__row .form__input:focus + .form__label{
    color: $color-blue-light;
    transform: translateY(0rem);
}

// //POPUP

.popup__input{
    order: 10
}

.popup__label{
    order: 1;
}

.form__btn-container{
    order: 100;
}

.popup__form .popup__input + .popup__label{
    transform: translateY(0.5rem);
    transition: all 0.2s ease-in-out;
}

.popup__form .popup__input:focus + .popup__label{
    color: $color-blue-light;
    transform: translateY(0rem);

}





// MATERIAL DESIGN CLASSES

// DESKTOP
.red{
    transition: 0.2s ease-in-out;
    transform: translate(5rem, 2.2rem) scale(1.4) !important;
    z-index: -1 !important;
     
 }

//  MOBILE
 .editRed{
     transform-origin: left !important;
     transform: translate(0rem, 2.2rem) scale(1.4) !important;
     z-index: 2 !important;
     
 }