

//colors
$color-white: #fff;

$color-background: #F4F8F9;
$color-background-2: #E3F1F2;

$color-blue-light: #2B95EB;
$color-blue-dark: #007EE5;

$color-grey-dark-1: #737E87;
$color-grey-dark-2: #A6B0B7;
$color-grey-dark-3: #50585E;

$color-grey-light: #D5DFE9;



//font-size
$font-lg: 1.6rem;
$font-md: 1.4rem;
$font-sm: 0.8rem;


//icon
$icon-size-sm: 1.2rem;
$icon-size-md: 1.6rem;
$icon-size-lg: 2.2rem;
$icon-size-xl: 3rem;


//font-weight

$font-semi-bold: 400;
$font-bold: 600;